.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
    padding:20px;

}
.heading h1{
   margin-top: 20px;
   
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

/* ...................navigation bar ends here.................. */


/* ......................About me section design starts here................... */

.my-image{
    margin-top: 20px;
}

.about-me-desc{
    text-align: left;
}

.my-image{
    width: 250px;
}

/* About me section design ends here  */



/* professional experience design starts here */

.card{
    height: 500px;
}

/* professional experience design starts here */




/*.................... achievement contact section starts here  */

/* working on submit reset button  */
.contact button{
    width: 120px;
}

/* working on media button  */

.contact-links{
    position: relative;
}
.media-buttons{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    top: 200px;
}
/*.................... achievement contact section ends here  */


/* footer section design starts here  */
.footer-menu{
    padding: 40px;
}
.footer-menu a{
    display: inline;
}

.footer-desc{
    padding: 40px;
}

/* footer section design ends here  */



